        * {
            border:greenyellow; color:black; margin:0px ; margin-right: 8%; padding: 0px;
        }

        body {
            margin-top: 250px;
        }

        section {
            border: 3px solid;
            margin-left: 2px;
        }

        .contrato {
            background-image: url(https://raw.githubusercontent.com/IanBorruey/Natalia/main/img/marissa-grootes-vdaJJbls3xE-unsplash.jpg);
            padding-bottom:5cm;
            padding-top: 2cm;
            background-repeat: no-repeat; 
            background-position: center;
            background-size: cover;
            background-attachment: fixed;
            padding-left: 20px;
        }
        
        .descripcion {
            margin: auto;
            padding-left: 20px;
        }

        .servicios- {
            background-image:url(./../img/samantha-gades-BlIhVfXbi9s-unsplash.jpg);
            background-repeat: no-repeat; 
            background-position:center;
            background-size:cover;
            background-attachment: fixed;
            padding-left: 30px;
        }

        li {
            background-color: rgba(255, 255, 255, 0.274);
        }

        header {
            position: fixed;
            top: 0px;

            display: flex;
            justify-content: center;
            margin: 15px;
        }

        nav ul li {
            display:inline-block

        }